{$snippet.aboutuskasnips}

<footer>
  <div class="up-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget text-widget">
            <h2>we are <span>Erow Precision.</span></h2>
            <span>Erow Precision Pvt. Ltd. was established as Pragati Engineering Works initially for
Manufacturing Rivets for Ball Bearing Cages and other components in Jaipur in the year 2012.</span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget text-widget">
              <h2>Address</h2>
<span>{$snippet.address}</span>
            <span>{$snippet.emailid}</span>
            <span>{$snippet.mobileno}</span>
            {$snippet.socialicons}
            
            <!-- <ul class="instagram-list">
              <li><a href="http://nunforest.com/shtepia/about.html#"><img src="./aboutus_files/inst1@2x.jpg" alt="" width="72" height="65"></a></li>
              <li><a href="http://nunforest.com/shtepia/about.html#"><img src="./aboutus_files/inst2@2x.jpg" alt="" width="72" height="65"></a></li>
              <li><a href="http://nunforest.com/shtepia/about.html#"><img src="./aboutus_files/inst3@2x.jpg" alt="" width="72" height="65"></a></li>
              <li><a href="http://nunforest.com/shtepia/about.html#"><img src="./aboutus_files/inst4@2x.jpg" alt="" width="72" height="65"></a></li>
              <li><a href="http://nunforest.com/shtepia/about.html#"><img src="./aboutus_files/inst5@2x.jpg" alt="" width="72" height="65"></a></li>
              <li><a href="http://nunforest.com/shtepia/about.html#"><img src="./aboutus_files/inst6@2x.jpg" alt="" width="72" height="65"></a></li>
            </ul> -->
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
							<div class="footer-widget instagram-widget">
								{$snippet.6photos}
							</div>
						</div>

        {$snippet.links}

      </div>
    </div>
  </div>

  <p class="copyright">
    © Copyright 2019. Erow Precision Pvt. Ltd., All rights reserved. Powered by <a href="https://gurujicorp.org">Guruji Corp.</a>
  </p>
</footer>

</div>
<script src="{$bat.theme}/assets/shtepia-plugins.min.js"></script>
<script src="{$bat.theme}/assets/jquery.countTo.js"></script>
<script src="{$bat.theme}/assets/js"></script>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhsBXaWJB0OaencSC7X8in-rYDX2bZhGo&#038;sensor=false&#038;ver=1.0'></script>
<script src="{$bat.theme}/assets/script.js"></script>
