<!-- Header
    ================================================== -->
<header class="clearfix">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="top-line">
      <div class="container">
        <div class="inner-top-line">
            <div class="row">

              <div class="col-sm-8">
                <ul class="info-list">
                  <li>
                    <i class="fa fa-envelope"></i>
                    <span>Email :</span> {$snippet.emailid}
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <span>Phone :</span> {$snippet.mobileno}
                  </li>
                </ul>
              </div>

              <div class="col-sm-4">
                {$snippet.socialicons}
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{$bat.path}">
          <img src="{$bat.theme}/assets/logo@2x.png" alt="" width="140"></a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        
        {$navigation.main}
        
        <li>
        <a href="{$snippet.pdflink}"><center><i class="fa fa-file-pdf-o" aria-hidden="true"></i>  <small style="
    color: #751e18;
">E-Brochure</small></center></a>
        </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<!-- End Header -->
