{template: inc/header.html}

<section class="page-banner-section" style="background-image: url({$bat.theme}/bg.jpg);">
	<div class="container">
		<div class="page-banner-box">
			<h1>{$page.title}</h1>
			<p>{if: $page.desc}{$page.desc}{else}{$settings.description}{/if}</p>
		</div>
	</div>
</section>


{$page.content}

{template: inc/footer.html}

<script type="text/javascript">
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
                var mapOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(26.9577092,75.7478185),
                    scrollwheel: false,
                    disableDefaultUI: true};

                var mapElement = document.getElementById('map');

                var map = new google.maps.Map(mapElement, mapOptions);

                 var marker = new google.maps.Marker({
                            position: map.getCenter(),
                            map: map,
                            title: 'Click to zoom'
                            });
            }
  </script>
