<section class="contact-section">
<div class="container">
<div class="col-sm-8">
  <!--<form id="contact-form">
  <h2>Send us a message</h2>
  <div class="row">
  <div class="col-md-4">
  <input name="name" id="name" type="text" placeholder="Name">
  </div>
  <div class="col-md-4">
  <input name="mail" id="mail" type="text" placeholder="Email">
  </div>
  <div class="col-md-4">
  <input name="tel-number" id="tel-number" type="text" placeholder="Phone">
  </div>
  </div>
  <textarea name="comment" id="comment" placeholder="Message"></textarea>
  <input type="submit" id="submit_contact" value="Send Message">
  <div id="msg" class="message"></div>
  </form>
  -->
  {$contact.form}
</div>
<div class="col-sm-4">
<div class="contact-info">
<h2>Contact Info</h2>
<p>You can contact or visit us in our office from Monday to Saturday from 8:00 - 18:00</p>
<ul class="information-list">
<li><i class="fa fa-map-marker"></i><span>{$snippet.address}</span></li>
<li><i class="fa fa-phone"></i><span>{$snippet.mobileno}</span></li>
<li><i class="fa fa-envelope-o"></i><span>{$snippet.emailid}</span></li>
</ul>
</div>
</div>
</div>
</section>
